#container {
    width: 100%;
}

.left-content {
    width: 20%;
    height:200vh;
    background-color: rgb(29, 28, 29);
    float: left;
}

.center-content {
    width: 60%;
    height: 200vh;
    background-color: black;
    float: left;
    color: black;
}

/* tulisan BIODATA */
.center-content h1 {
    text-align: center;
    padding-bottom: 50px;
    color: #ffffff;

}

/* GAMBAR PP */
.center-content img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    /* posisi gambar di tengah : */
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.center-content img:hover {
    cursor: pointer;
    
}

.right-content {
    width: 20%;
    height: 200vh;
    background-color:  rgb(29, 28, 29);
    float: left;
}

.text {
    padding-top: 20px;
    padding-left: 180px;
    color: #ffffff;
}

.text h3{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.text table {
    font-size: 17px;
    line-height: 28px;
}

/* pada perangkat max-width 1000px */
@media (max-width:1000px) {
    .left-content {
        width: 0%;
    }

    .center-content {
        width: 100%;
    }

    .right-content {
        width: 0%;
    }

    .text {
        padding-top: 20px;
        padding-left: 95px;
        color: #ffffff;
    }
}

/* pada perangkat max-width 678 */
@media (max-width:678px) {
    .left-content {
        width: 0%;
        height: 200vh;
    }

    .center-content {
        width: 110%;
        height: 200vh;
    }

    .right-content {
        width: 0%;
        height: 200vh;
    }

    /* tulisan BIODATA */
    .center-content h1 {
        text-align: center;
        padding-bottom: 50px;
        color: #ffffff;
        font-size: 30px;

    }

    /* GAMBAR PP */
    .center-content img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        
    }

    .text {
        padding-top: 20px;
        padding-left: 6px;
        padding-right: 50px;
        color: #ffffff;
    }
    
    .text h3{
        font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
    }
    
    .text table {
        font-size: 10px;
        line-height: 28px;
    }

}
